@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Mono:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    max-width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
    padding-bottom: 120px;
}
.navPrincipal{
    width: 100%;
    height: 120px;
    background: #941112;
}
.navPrincipal ul{
    margin: 0;
    float: left; /* Retira a margin da ul e ajuda a ficar alinhado */
}
.navPrincipal ul li {
    display: inline-block;
    
}
.navPrincipal ul li a{
    color: #000000;
    font-family: 'Fira Mono', monospace;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 55px 10px;
}

.navPrincipal ul li a:hover{
   background: url(../img/LogoTransp-output-onlinepngtools.png) no-repeat center;
   background-size: 70px;
}
.navPrincipal .logoNav{
    position: absolute;
    left: 50%;
    margin-left: -85px; /* Propriedade p/ alinhar 100% a imagem no centro pq tem considerar a metade do tamanho da imagem */
    
}

/* HOME */

/* Banner */
.carousel{
text-align: center;
   width: 100%;
}
.carousel li{
    list-style: none;
}
/* Componente em destaque */
.destaque{
    position: relative;
    display: inline-block;
    width: 340px;
    /* height: 550px; */
    height: 520px;
    background: #e1d7d7;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 10px;
    overflow: hidden; /* faz com que o conteudo ñ vasa pela borda*/
    box-shadow: 0px 7px 18px 7px rgba(0,0,0,0.52);

    /* float: left; */
    margin: 0 40px;
    margin-top: 20px;
}
/* clip-path: inset(0,0,10%,0); */
/* .destaque img{
    width: 100%;
    
} */
.destaque .imagem{
    width: 100%;
    /* clip-path: inset(0,0,10%,0); */
    height: 340px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.destaque .imagem:hover{
    width: 105%;
    height: 350px;
    margin: auto;
}
.destaque h2{
    font-size: 18px;
    font-family: 'Fira Mono', monospace;
    color: #941112;

}
.destaque .valor{
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.destaque .valor.riscado{
    text-transform: none;
    font-size: 20px;
    color: rgb(64, 0, 255);
    display: block;
    text-decoration: line-through;
}
.destaque .valor small{
    color: red;
    
}
.destaque .adicionarCarrinho{
    display: block;
    position: absolute;
    width: 320px;
    padding: 15px 0;
    background:  #941112;
    left: 10px;
    bottom: 10px;
    /* margin: 0 auto; */
    color: rgb(255, 251, 0);
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.6s;
}
.destaque .adicionarCarrinho:hover{
    background: rgb(255, 251, 0);
    color: #941112;
    transition: all 0.6s;
}

/* SOCIAL-MIDIA */
.social a{
    display: inline-block;
    width: 15%;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    line-height: 0;
    transition: all 0.5s;
}
.social a:hover{
    transition: all 0.5s;
    font-size: 20px;
}
.social h2{
    text-align: center;
    color: rgb(49, 49, 237);
    
}
.social a i{
    color: orangered;
    font-size: 40px;
}

/* EMPRESA */
.nossaEmpresa{
    text-align: center;
    /* padding-top: 20px; */
    margin: 50px;
}
.nossaEmpresa h1{
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
}
.nossaEmpresa p{
    line-height: 1.3em;
}
#visitar{
    text-shadow: #000000;
    color: #941112;
    margin-left: 15px;
    font-family: 'Fira Mono', monospace;
    
}
.nossaEmpresa img{
    width: 150%;
    margin: 0;
    height: 220px;
    left: 0;
}

.nossoLocal{
    background: rgba(128, 128, 128, 0.672);
    display: block;
    border: 2px solid darkgray;
}

/* PRODUTOS */
.listaProdutos{
    padding-top: 25px;
}
.listaProdutos table{
    width: 900px;
    background-color:rgba(211, 211, 211, 0.5);
    
}
.listaProdutos td{
    padding: 8px;
}
.listaProdutos td button{
    background-color: #941112;
    padding: 0;
    text-align: center;
}
/* FOOTER */
.rodape{
    width: 100%;
    height: 50px;
    background-color: #941112;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    padding: 25px 0;
    
}
.rodape .copy{
    padding-left: 25px;
}
.rodape a{
    float: right;
    padding-right: 25px;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    
    /* display: block; */
    /* margin-top: 10px; */
}
.rodape .copy, .rodape a{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}